.all-container {
  border: 1px solid lavenderblush;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  position: absolute;
  left: 30%;

}
p {
  padding-left: 6px;
  padding-right: 6px;
}

.query-thumbnail-container {
  border: 1.5px solid purple;
  margin: 12px;
}

.query-thumbnail-image-container {
  width: 200px;
  height: 100px;
  border: 1px dotted lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}